* {
	margin: 0;
	padding: 0;
	text-align: center;
	font-family: Helvetica, sans-serif;
	text-decoration: none;
	color: black;
}

.topbar {
	background-image: url(../Images/IMG_9190.jpg);
	background-repeat: no-repeat;
	background-position: center center;
	background-attachment: fixed;
	background-size: cover;
	height: 100vh;
	width: 100%;
}

.name {
	color: white;
	font-size: 2.85em;
	text-align: center;
	display: block;
	margin-bottom: 2em;
}

.profilepic {
	height: 25em;
	width: auto;
	border: 1px solid white;
	border-radius: 25em;
	margin-top: 2em;
	margin-bottom: 4em;
}

.navbar {
	background: #696969;
	padding-top: 20px;
	padding-bottom: 20px;
	bottom: 0px;
	z-index: 1;
	position: absolute;
	width: 100%;
}

.navstyle>a:hover {
	background-color: #000000;
}

.navstyle>a {
	color: #FFFFFF;
	padding: 20px 20px 20px 20px;
	margin: 20px;
	transition: background-color: 0.3s ease;
}

.section_style {
	height: 100vh;
	padding: 20px;
}


.about_section {
	background: #E0FFFF;
	padding-top: 2em;
}

.about_content {
	max-width: 90%;
	margin: 40 auto;
	padding-top: 20px;
	line-height: 150%;
}

.sanfrancisco {
	height: 400px;
	width: auto;
	float: left;
	padding-left: 4em;
	padding-right: 1em;
}

.abouttext {
	display: inline-block;
	width: auto;
	height: auto;
	margin: 1em;
	float: right;
	padding-left: 10px;
}

.resume_section {
	background: #FFFFFF;
	padding: 20px;
	line-height: 150%;
	height: auto;
}

.resumecontent {
	margin-bottom: 3cm;
}

.post {
	display: inline-block;
	width: 200px;
	height: 100px;
	margin: 1em;
	padding: 40px;
}

.contact_section {
	background: #C5D7DB;
	height: 2em;
}

.foot {
	background: #CDFFFB;
	padding: 0.5em;
}


